
.description{
  border: 1px solid #FFCB47;
  width: 90vw;
  background-color: #B9D8C2;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 8px black;
}

.specific-project {
  height: 350px;
  width: 65vw;
  background-color: aliceblue;
  border: 1px solid #FFCB47;
  border-radius: 4px;
  box-shadow: 0 0 8px black;
}

.project-container{
  margin-top: 140px;
}

.two-container{
  display: flex;
  width: 100vw;
  margin-bottom: 45px;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 25px;
}