.projects-container{
  margin-top: 45px;
}
.top-container{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin-bottom: 45px;
}
.project {
  height: 300px;
  width: 250px;
  background-color: aliceblue;
  border: 1px solid #FFCB47;
  border-radius: 4px;
  box-shadow: 0 0 8px black;
}

.words{
  border: 1px solid #FFCB47;
  width: 240px;
  background-color: #B9D8C2;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 8px black;
}
