.send {
  background-color: #FFCB47;
  color:#3B4668;
  border: #3B4668 solid 2px;
  border-radius: 15px;
  padding: 3 px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 8px;
}
.or{
  color: #3B4668;
}

.div-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  padding: 10px;
  background-color: #B9D8C2;
  border: 1px solid #FFCB47;
  border-radius: 4px;
  box-shadow: 0 0 8px black;
  margin-left: 30vw;
  margin-right: 30vw;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 20vw;
  font-size: 20px;
  border: 1px solid #FFCB47;
  margin-bottom: 5px;
  border-radius: 3px;
}

textarea{
  width: 30vw;
  max-width: 38vw;
  height: 100px;
  font-size: 20px;
  border: 2px solid #FFCB47;
  margin-bottom: 5px;
  border-radius: 8px;
}
.linky{
  height: 20px;
  width: 60px;
}
.social{
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
}