.send {
  background-color: #FFCB47;
  color:#3B4668;
  border: #3B4668 solid 2px;
  border-radius: 15px;
  padding: 3 px;
  font-weight: bold;
}

.form-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 250px;
}

textarea{
  width: 300px;
  height: 50px
}